$messengerBgColor: #0f0f0f;
$barBgColor: #212121;
$placeholderColor: #aaaaaa;
$fontColor: #ffffff;
$activeColor: #8774e1;
$headerColor: #212121;
$searchBtn: #212121;
$contactsBarBg:#212121;
$searchBarBg:#212121;
$messageBg:#0f0f0f;
$hoverBg: #2b2b2b;
$hoverOpacity: 70%;
$inputBgColor: #181818;
$messagePersonBg:#181818;
$messageUserBg:#8774e1;
$UIborderColor: #2f2f2f;
$transition: .2s;
